<div>
    <form action="/sessions/reset/{{userID}}/{{token}}" method="post">
        <label for="">Password: </label>
        <input type="password" name="password"><br>
        <label for="">Confirm password: </label>
        <input type="password" name="checkPassword"><br>
        <input type="submit" value="Save changes">
    </form>
</div>