<h1>Chat de mi sitio de ecommerce</h1>
<div class="formItem">
    <label id="username">:</label><input id="chatbox" type="text">
</div>
<div id="messageLogs"></div>
<form action="/api/products">
    <button>Back</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script type="module" src="/js/chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>