<div>
    <h3>Testeo de logger</h3>
    <a href="/loggerTest/debug">Debug test logger</a><br/>
    <a href="/loggerTest/http">HTTP test logger</a><br/>
    <a href="/loggerTest/info">Info test logger</a><br/>
    <a href="/loggerTest/warning">Warning test logger</a><br/>
    <a href="/loggerTest/error">Error test logger</a><br/>
    <a href="/loggerTest/fatal">Fatal test logger</a>
</div>