.menubar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
    margin-right: 50%;
    height: 40px;
    width: 100%;
    font-size: 18px;
}

.formData{
    border: 1px solid black;
    padding: 15px;
    width: 350px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    //margin-left: 25px;
}

.formItem{
    display: grid;
    grid-template-columns: 100px 200px;
    margin-left: 10px;

    label{
        text-align: right;
    }
}

.deleteById{
    border: 1px solid black;
    padding: 15px;
    width: 350px;
    font-size: 16px;
}

h1{
    text-align: center;
}

.showProducts{
    width: 1000px;
    margin-left: 15%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 20px;
}

.pageNumber{
    width: 25%;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.eachProduct{
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 2px 8px 5px #888888;
}

.cartInfo{
    th{
        width: 150px;
    }

    td{
        width: 150px;
        text-align: center;
    }

    .description{
        width: 200px;
    }
}

.loginContainer{
    margin-left: 30%;
    height: auto;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 2px double black;
    padding: 15px;
    text-align: center;
}

.formLogin{
    text-align: center;
    height: auto;
    //margin-left: 30%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 15px;

    .text{
        width: 200px;
    }

    .label{
        text-align: right;
        margin-right: 5px;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-left: 100%;
    margin-top: 20px;
}

.message{
    position: absolute;
    left: 25%;
    top: 15%;
}