<div class="message">
    Error: {{error}}
    <div class="buttons">
        <form action="register">
            <button>Register</button>
        </form>
        <form action="/sessions/login">
            <button>Login</button>
        </form>
    </div>
</div>