<div style="text-align: center;">
    Error: {{error}}
    <form action="register">
        <button>Register</button>
    </form>
    <form action="login">
        <button>Login</button>
    </form>
</div>